$primary-color: #ddd;
$success-color: #ddd;
$info-color: #ddd;
$warn-color: #ddd;
$error-color: #ddd;

$primary-bgcolor: #ddd;
$success-bgcolor: #ddd;
$info-bgcolor: #ddd;
$warn-bgcolor: #ddd;
$error-bgcolor: #ddd;
